:root {
  --color-black: #4c4a59;
  --color-dark-green: #1b7f7a;
  --color-green: #4caba6;
  --color-blue: #0897b4;
  --color-offwhite: #f2cdac;
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #65dfc9, #6cdbeb);
}
.app {
  position: relative;
}
h1 {
  padding: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  text-align: center;
  color: var(--color-dark-green);
  font-size: 1.5rem;
}
h1 a{
  text-decoration: none;
  color:inherit
}

.appView {
  width: 100%;
  height: 100vh;
  position: relative;

}
.checkbox {
  display: none;
}
.checkboxLabel i:first-child {
 position: absolute;
  left: 1rem;
  top: -2.3rem;
  font-size: 1.3rem;
  z-index: 999;
}

.error {
  position: absolute;
  right: 1rem;
  top: 3rem;
  padding: .8rem .4rem;


  color: red;
  font-size: 1rem;
}
