.gatewayAdd {
  padding: 1rem;
  border-radius: 0.4rem;
  -webkit-box-shadow: -5px 0px 37px -7px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: -5px 0px 37px -7px rgba(0, 0, 0, 0.08);
  box-shadow: -5px 0px 37px -7px rgba(0, 0, 0, 0.08);
  position: relative;
}
.btnClose {
  color: var(--color-grey);
  background-color: transparent;
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  font-size: 1rem;
  border: none;
}
.btnClose:hover {
  color: red;
}
