.gateway {
 
  border-radius: 0.4rem;
  -webkit-box-shadow: -5px 0px 37px -7px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: -5px 0px 37px -7px rgba(0, 0, 0, 0.08);
  box-shadow: -5px 0px 37px -7px rgba(0, 0, 0, 0.08);
  /* position: relative; */

}
.gateway h3{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.gatewayController {
 position: absolute;


  right: 0;
  top: 0;
  padding: .5rem;

}
/* .gatewayController::after { */
/*   content: ""; */
/*   display: table; */
/*   clear: both; */
  
/* } */
 .gatewayController .btnEdit {
  color: #777; 
  background-color: transparent;
  font-size: 1rem;
  margin-right: 0.5rem;
  border: none;

}
.gatewayController .btnEdit:hover {
  color: orange;
  
}
.gatewayController .btnDelete {
   color: #777; 
 background-color: transparent;
  font-size: 1rem;
  border: none;

}
.gatewayController .btnDelete:hover {
  color: red;
}
.gatewayInfo {

  display: flex;
  flex-direction: column;
}

.gatewayInfo span {
  font-size: .9rem;
  font-weight: bold;
  padding: 0.5rem;
}



.gatewayTable {
  width: 100%;

  margin-top: 3rem;
}
.gatewayTable caption {
  padding: 1rem;
  font-size: 2rem;
}
.gatewayTable thead th {
  text-align: center;
  padding: 0.6rem;
  color: #fff;
  background-color: #2c7a78;
}
.gatewayTable td {
  text-align: center;

  padding: 0.6rem;
}


