.gateway h3 {
  font-size: 1rem;
  text-align: center;
  color: var(--color-black);
}
.gatewayController {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.5rem;
}

.gatewayController .btnEdit {
  color: var(--color-grey);
  background-color: transparent;
  font-size: 1rem;
  margin-right: 0.5rem;
  border: none;
}
.gatewayController .btnEdit:hover {
  color: orange;
}
.gatewayController .btnDelete {
  color: var(--color-grey);
  background-color: transparent;
  font-size: 1rem;
  border: none;
}
.gatewayController .btnDelete:hover {
  color: red;
}
.gatewayInfo {
  display: flex;
  flex-direction: column;
}

.gatewayInfo span {
  font-size: 0.9rem;
  padding: 0.5rem;
  color: var(--color-black);
}

.gatewayTable {
  width: 100%;

  margin-top: 3rem;
}
.gatewayTable caption {
  padding: 1rem;
  font-size: 2rem;
}
.gatewayTable thead th {
  text-align: center;
  padding: 0.6rem;
  color: var(--color-white);
  background-color: var(--color-dark-green);
}
.gatewayTable td {
  text-align: center;
  padding: 0.6rem;
}

@media (min-width: 1024px) {
  .gateway {
    padding: 1rem;
  }
  .gateway h3 {
    font-size: 1.2rem;
  }
  .gatewayInfo span {
    font-size: 1rem;
  }
}
