.form {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.formGroup label {
  color: #868b8e;
  display: block;
  width: 100%;
  font-size: 0.8rem;

}
.formGroup input {
  display: block;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 1rem;
  background-color: #f7f0e9;
  width: 100%;
  margin-bottom: 1rem;
}

.btnAdd {
  display: block;
  padding: .3rem;
  margin: auto;
  width: 30%;
  background-color: #79c7c5;
  color: #fff;
  font-size: .9rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btnAdd:hover {
  background: var(--color-dark-green);
}
.btnEdit {
  display: block;
  padding: .3rem;
  margin: auto;
  width: 30%;
  background-color: #79c7c5;
  color: #fff;
  font-size: .9rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btnEdit:hover {
  background: var(--color-dark-green);
}
