.peripheralForm {
  border: 1px solid #79c7c5;
  border-radius: 4px;
}

.peripheralForm .formGroup label {
  display: block;
  padding: 0.3rem;
  color: var(--color-grey);
  font-size: 0.8rem;
  width: 100%;
  margin: 0.5rem auto;
}
.peripheralForm .formGroup input {
  display: block;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border: none;
  font-size: 0.8rem;
  background-color: var(--color-white);
  width: 100%;
  margin: auto;
}

.btnAdd {
  display: block;
  padding: 0.3rem;
  margin: 0.5rem auto;
  width: 15%;
  background-color: var(--color-green);
  color: var(--color-black);
  font-size: 0.8rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}
.btnAdd:hover {
  background: var(--color-dark-green);
  color: var(--color-white);
}

@media (min-width: 1024px) {
  .peripheralForm .formGroup label {
    width: 80%;
    font-size: 1rem;
  }
  .peripheralForm .formGroup input {
    width: 90%;
    font-size: 1rem;
    padding: 0.5rem;
  }
  .btnAdd {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
