.peripheralWrapper {
  margin-top: 3rem;
  position: relative;
}
.peripheralWrapper h4 {
  text-align: center;
  font-size: 0.8rem;
}
.btnAdd {
  position: absolute;
  right: .3rem;
  top: 1rem;
  color: #777;
  background-color: transparent;
  font-size: 1rem;
  border: none;
}

.btnAdd:hover {
  color: blue;
}

