.peripherals {
  margin-top: 1rem;
  position: relative;
}

.peripheralController .btnEdit,.peripheralController .btnDelete {
  color: #777;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  margin-right: 0.6rem;
}
.peripheralController .btnEdit:hover {
  color: orange;
}
.peripheralController .btnDelete:hover {
  color: red;
}

tbody td{
  text-align:center;
  font-size:0.8rem;
}

tbody td:last-child{
  text-align:right;
}


