.peripheralRowEdit input {
  background-color: var(--color-white);
  font-size: 0.8rem;
  padding: 0.3rem;
  text-align: center;
  width: 100%;
  outline: none;
  border: none;
}
.peripheralRowEdit .btnAdd {
  background-color: transparent;
  color: var(--color-grey);
  font-size: 1rem;
  border: none;
}
.peripheralRowEdit .btnAdd:hover {
  color: blue;
}

@media (min-width: 1024px) {
  .peripheralRowEdit input {
    font-size: 1rem;
  }
}
