.peripheralTable {
  width: 100%;
  margin-top: 1.6rem;
}

.peripheralTable thead th {
  text-align: center;
  padding: 0.3rem;
  color: var(--color-white);
  font-size: 0.8rem;
  background-color: var(--color-dark-green);
}

@media screen and (min-width: 1024px) {
  .peripheralTable thead th {
    font-size: 1rem;
  }
}
