.peripherals {
  margin-top: 1rem;
  position: relative;
}

.peripheralController .btnEdit,
.peripheralController .btnDelete {
  color: var(--color-grey);
  background-color: transparent;
  font-size: 1rem;
  border: none;
  margin-right: 0.6rem;
}
.peripheralController .btnEdit:hover {
  color: orange;
}
.peripheralController .btnDelete:hover {
  color: red;
}
th,
td {
  width: 100px;
  height: 30px;
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-black);
}

tbody td:last-child {
  text-align: right;
}

@media (min-width: 1024px) {
  tbody tr td {
    font-size: 1rem;
  }
}
